/* .header {
  overflow-x: auto;
  white-space: nowrap;
}
.header a {
  transition: 0.3s;
}
.header a:hover {
  background-color: #f0f0f0;
}
.header a:active{
    background-color: #f0f0f0;
} */
 .header::-webkit-scrollbar {
  display: none;
}
